.wrapper {
    margin: 0 auto;
    width: 1500px;
    height: 1435px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    margin: 100px 0 0 0;
    font-size: 22px;
    font-weight: 700;
    color: #333333;
}

.feature {
    font-family: 'Times New Roman', sans-serif;
    font-weight: 600;
    color: #3CB878;
    margin-bottom: 60px;
}

.products {
    width: 1450px;
    height: 1300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}