.wrapper {
    width: 570px;
    margin: 0 auto;
    font-size: 12px;
}

.title {
    margin-bottom: 35px;
    font-weight: 700;
}

.text {
    color: #646464;
}

.input,
.button {
    outline: none !important;
    height: 45px;
}

.input {
    width: calc(100% - 130px);
    border: 1px solid #B4B4B5;
    border-right: none;
    padding: 0 22px 0 22px;
}

.button {
    width: 130px;
    border: none;
    color: white;
    background-color: #3CB878;
}

.button:active {
    background-color: #34a369;
}