@value colors: "./../../../styles/colors.css";

@value lightGreenColor, hoverLightGreenColor, whiteColor, darkWhiteColor, blackColor, errorColor from colors;

.wrapper {
    height: 250px;
    width: 100%;
    display: flex;
}

.promocode {
    background-image: url("../../../static/bac.d36e2937.png");
    width: 50%;
    height: 100%;
}

.promocodeInput {
    background-color: rgba(52, 57, 79, 0.9);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whiteColor;
}

.promocodeTitle {
    font-size: 24px;
    font-weight: 700;
}

.promocodeFeature {
    width: 540px;
    text-align: center;
}

.input, .button {
    height: 45px;
    border: none;
    outline: none !important;
}

.formWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 400px;
    margin-right: 10px;
    padding: 0 25px 0 25px;
    color: blackColor;
}

.error {
    color: errorColor;
    margin-top: 10px;

}

.button {
    width: 200px;
    background-color: lightGreenColor;
    color: whiteColor;
}

.button:active {
    background-color: hoverLightGreenColor;
}

.clients {
    background-color: darkWhiteColor;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 1500px){
    .wrapper {
        flex-direction: column;
        height: 500px;
    }

    .clients,
    .promocode {
        width: 100%;
        height: 50%;
    }

}

@media screen and (max-width: 769px) {

    .wrapper {
        height: 420px;
    }

    .promocode {
        height: 60%;
    }

    .clients {
        height: 40%;
    }

    .formWrapper {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .formInput {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .promocodeFeature {
        width: 80vw;
    }

    .input {
        width: 80vw;
        margin: 0;
    }

    .button {
        margin-top: 5px;
        width: 80vw;
    }

    .imgClients {
        width: 70px;
    }
}