.wrapper {
    height: 550px;
    width: 300px;
    margin: 30px 15px 30px 15px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.image {
    position: relative;
    display: flex;
    height: 450px;
    width: 100%;
    background-color: #121212;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.addHover{
    display: none;
    cursor: pointer;
}

.image:hover {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.image:hover .addHover {
    height: 40px;
    width: 40px;
    margin: 10px 10px 0 0;
    background-color: #3CB878;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3cb878;
    box-sizing: border-box;
}

.image:hover .addHover:hover{
    background-color: white;
}

.iconHover {
    font-size: 18px;
    color: white;
}

.image:hover .addHover:hover .iconHover{
    color: #3CB878;
}

.price {
    color: green;
}

.iconStar {
    color: orange;
    margin-right: 2px;
    cursor: pointer;
}

.image:hover .addHover.active {
    background-color: white;
}

.check {
    display: inline-block;
    width: 12px;
    height: 20px;
    border: solid #3CB878;
    border-width: 0 5px 5px 0;
    transform: rotate( 45deg);
}

.size {
    color: #646464;
    position: absolute;
    top: 220px;
    left: 130px;
}

@media screen and (max-width: 769px){

    .wrapper {
        height: 367px;
        width: 200px;
        margin: 20px 10px 20px 10px;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    .image:hover .addHover {
        height: 30px;
        width: 30px;
        margin: 8px 8px 0 0;
    }

    .iconHover {
        font-size: 14px;
    }

    .check {
        width: 9px;
        height: 15px;
        border-width: 0 4px 4px 0;
    }

}