@value colors: "./../../../styles/colors.css";

@value darkWhiteColor, lightGreyColor, greyColor, blackColor, whiteColor from colors;

.wrapper {
    width: 570px;
    margin: 0 auto;
    font-size: 12px;
}

.title {
    margin-bottom: 35px;
    font-weight: 700;
}

.text {
    color: greyColor;
    margin: 0 0 14px 0;
}

.input,
.button {
    outline: none !important;
}

.input {
    width: 100%;
    border: 1px solid lightGreyColor;
    padding: 0 22px 0 22px;
    margin-bottom: 20px;
    height: 45px;
}

.button {
    width: 150px;
    height: 35px;
    border: 1px solid lightGreyColor;
    color: blackColor;
    background-color: whiteColor;
    font-weight: 700;
}

.button:active {
    background-color: darkWhiteColor;
}

@media screen and (max-width: 1500px) {
    .wrapper {
        width: 45vw;
    }

    .input{
        width: 100%;
    }
}

@media screen and (max-width: 1025px){
    .wrapper {
        width: 90vw;
    }
}