.wrapper {
    height: 60px;
    width: 1500px;
    margin: 0 auto;
    border-bottom: 1px solid #F5F6F9;
    display: flex;
    justify-content: center;
}

.text {
    font-size: 12px;
    display: flex;
    align-items: center;
    width: 830px;
}

.networks {
    width: 350px;
    height: 60px;
    font-size: 15px;
    border-right: 1px solid #F5F6F9;
    border-left: 1px solid #F5F6F9;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.iconNetwork {
    cursor: pointer;
}

.iconFacebook:hover {
    color: #4867AA;
}

.iconTwitter:hover {
    color: #23A1F9;
}

.iconInstagram:hover {
    color: #912EB9;
}

.iconLinkedin:hover {
    color: #2977C9;
}

.iconBehance:hover {
    color: #1666F7;
}