.wrapper {
    height: 550px;
    width: 300px;
    margin: 0 15px 0 15px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    display: flex;
    height: 450px;
    width: 100%;
    background-color: #121212;
    align-items: center;
    justify-content: center;
}

.addHover{
    display: none;
    cursor: pointer;
}

.image:hover {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.image:hover .addHover {
    height: 40px;
    width: 40px;
    margin: 10px 10px 0 0;
    background-color: #3CB878;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image:hover .addHover:hover{
    background-color: white;
}

.image:hover .sizeIcon{
    position: relative;
    /*align-self: center;*/
}

.iconHover {
    font-size: 18px;
    color: white;
}

.image:hover .addHover:hover .iconHover{
    color: #3CB878;
}

.price {
    color: green;
}

.sizeIcon {
    top: 70px;
    right: 120px;
    color: white;
}

.iconStar {
    color: orange;
    margin-right: 2px;
}