.wrapper {
    width: 1390px;
    min-height: 775px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 21px;
    font-weight: 700;
}

.subtitle {
    font-family: "Times New Roman", sans-serif;
    font-style: italic;
    color: #3cb878;
    font-size: 12px;
}

@media screen and (max-width: 1500px){

    .wrapper {
        width: 100%;
    }

    .products {
        width: 90%;
    }
}

@media screen and (max-width: 1200px){

    .products {
        width: 97%;
    }
}

@media screen and (max-width: 1025px){

    .products {
        width: 80%;
    }
}

@media screen and (max-width: 832px){

    .products {
        width: 90%;
    }
}

@media screen and (max-width: 581px) {

    .products {
        width: 95%;
    }

}