@value colors: "./../../../styles/colors.css";

@value lightGreenColor from colors;

.wrapper {
    width: 1390px;
    margin: 0 auto;

}

.wrapperContent {
    margin: 100px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title {
    font-size: 21px;
    font-weight: 700;
}

.subtitle {
    font-family: "Times New Roman", sans-serif;
    font-style: italic;
    color: lightGreenColor;
    font-size: 12px;
}

@media screen and (max-width: 1500px){

    .wrapper {
        width: 100%;
    }

    .wrapperContent {
        margin-top: 70px;
    }

    .products {
        width: 90%;
    }
}

@media screen and (max-width: 1200px){

    .products {
        width: 97%;
    }

}

@media screen and (max-width: 1025px){

    .products {
        width: 80%;
    }

    .wrapperContent {
        margin: 20px 0 10px 0;
    }
}

@media screen and (max-width: 832px){

    .products {
        width: 90%;
    }
}

@media screen and (max-width: 581px) {

    .products {
        width: 95%;
    }

}