.wrapper {
    width: 100%;
    display: grid;
    grid-template-areas:
  'products color quantity price total';
    grid-template-columns: 41fr 19fr 17fr 18fr 19fr;
}


.item {
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #B4B4B5;
    border-left: 1px solid #B4B4B5;
}

.products {
    grid-area: products;
}

.image {
    height: 100px;
    width: 80px;
    background-color: black;
    color: #646464;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.nameProduct {
    margin-left: 30px;
    width: 260px;
}

.color {
    grid-area: color;
    display: flex;
    flex-direction: column;
}

.quantity {
    grid-area: quantity;
}

.input {
    height: 35px;
    width: 50px;
    outline: none !important;
    border: 1px solid #B4B4B5;
}

.price {
    grid-area: price;
}

.total {
    grid-area: total;
    border-right: 1px solid #B4B4B5;
    justify-content: center;
}

.totalPrice {
    width: 110px;
    overflow: auto;
}


.delete {
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 0px;
    font-size: 16px;
    font-weight: 900;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    outline: none !important;
}

.delete:active {
    background-color: #eeeeee;
}

@media screen and (max-width: 1500px) {

    .nameProduct {
        margin-left: 20px;
        width: 200px;
    }

}

@media screen and (max-width: 1025px) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

    .item {
        height: 64px;
    }

    .products {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        border: 1px solid #B4B4B5;
        border-bottom: none;
        height: 150px;
    }

    .color {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        border: none;
        border-left: 1px solid #b4b4b5;
    }

    .quantity {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        border: none;
        border-right: 1px solid #B4B4B5;
    }

    .price {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        border: none;
        border-left: 1px solid #b4b4b5;
    }

    .total {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        border: none;
        border-right: 1px solid #B4B4B5;
    }

    .totalPrice {
        width: 60px;
    }

}

@media screen and (max-width: 469px) {
    .nameProduct {
        width: 180px;
        margin-left: 10px;
    }
}

