.wrapper {
    width: 570px;
    margin: 0 auto;
    font-size: 12px;
}

.title {
    margin-bottom: 35px;
    font-weight: 700;
}

p{
    margin: 0;
}

.text {
    color: #646464;
    margin-bottom: 14px;
}

.input,
.button {
    outline: none !important;
    height: 45px;
}

.input {
    width: calc(100% - 130px);
    border: 1px solid #B4B4B5;
    border-right: none;
    padding: 0 22px 0 22px;
}

.button {
    width: 130px;
    border: none;
    color: white;
    background-color: #3CB878;
}

.button:active {
    background-color: #34a369;
}

@media screen and (max-width: 1500px) {
    .wrapper {
        width: 45vw;
    }

    .input{
        width: 37vw;
    }

    .button {
        width: 8vw;
    }
}

@media screen and (max-width: 1025px){
    .wrapper {
        width: 80vw;
    }

    .input{
        width: 70vw;
    }

    .button {
        width: 10vw;
    }

    .title {
        margin: 35px 0 0 0;
    }

    .text {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 769px){
    .wrapper {
        width: 90vw;
    }

    .input{
        width: 70vw;
    }

    .button {
        width: 20vw;
    }

    .title {
        margin: 35px 0 0 0;
    }

    .text {
        margin-bottom: 5px;
    }
}