.app {
    font-family: "Century Gothic", sans-serif;
    height: 100%;
    width: 1500px;
    margin: 0 auto;
}

.preloader {
    padding-left: calc(50vw - 240px);
    padding-top: calc(50vh - 35px);
}

.pageWrapper {
    min-height: calc(100vh - 465px);
}

@media screen and (max-width: 1500px) {
    .app {
        width: 100%;
    }
}

@media screen and (max-width: 769px) {
    .preloader {
        padding-top: calc(50vh - 25px);
        padding-left: calc(50vw - 150px);
    }
}
