.app {
    font-family: "Century Gothic", sans-serif;
    height: 100%;
    width: 1500px;
    margin: 0 auto;
}

.pageWrapper {
    min-height: calc(100vh - 465px);
}

@media screen and (max-width: 1500px) {
    .app {
        width: 100%;
    }
}

@media screen and (max-width: 1025px) {
    .content {
        padding-top: 100px;
    }

    .app.active {
        position: fixed;
    }
}

@media screen and (max-width: 481px) {

    .content {
        padding-top: 50px;
    }

}
